# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
a = 12
b = 12
print(id(a) == id(b))
print(a == b)

True
True

Щоб перевірити чи змінні посилаються на один і той самий об'єкт в пам'яті використовуємо функцію id(), щоб перевірити чи змінні рівні за значенням, порівнюємо їх

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
c = True
d = 1
e = '12'
print(type(c))
print(type(d))
print(type(e))

<class 'bool'>
<class 'int'>
<class 'str'>

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
int_num = 16
float_num = 1.5

sum_res = int_num + float_num
subtraction_res = int_num - float_num
division_res = int_num / float_num
multiplication_res = int_num * float_num
division_without_remainder_res = int_num // float_num
modulus_res = int_num % float_num
exponentiation_res = int_num ** float_num

print(sum_res)
print(subtraction_res)
print(division_res)
print(multiplication_res)
print(division_without_remainder_res)
print(modulus_res)
print(exponentiation_res)

17.5
14.5
10.666666666666666
24.0
10.0
1.0
64.0

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
print(type(int_num))
print(type(float_num))

float_num = int(float_num)
division_res = int(division_res)

print(float_num)
print(division_res)

bool_var = False
print(type(bool_var))
bool_var = int(bool_var)
print(type(bool_var))

<class 'int'>
<class 'int'>
1
10
<class 'bool'>
<class 'int'>

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
empty_string_1 = ' '
empty_string_2 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
apostrophe_string = '\''
raw_string = r'\''
print(apostrophe_string)
print(raw_string)

'
\'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [3]:
my_surname = 'Zinchenko'
output = 'My surname is {0}'.format(my_surname)
print(output)

My surname is Zinchenko

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
string_dog = 'My dog is crazy'
tokens = string_dog.split(' ')
print(tokens)

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [10]:
list_1 = [2, 4, 55, 11]
list_2 = list()

print(type(list_1))
print(type(list_2))

print(len(list_1))

<class 'list'>
<class 'list'>
4

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [11]:
list_3 = [2, 4, 55, 11]
list_4 = [1, 3, 8, 2]

list_3.append(list_4[2])
print(list_3)

[2, 4, 55, 11, 8]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [19]:
list_5 = [[2, 3], [11, 4], [6, 8]]
print(list_5[-1][0])

6

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [22]:
list_6 = [1, 6, 's', 18, True, [2, 3, 4], 8, 'f', 4, '.']
print(len(list_6))
new_list = list_6[2:-2]
print(new_list)

10
['s', 18, True, [2, 3, 4], 8, 'f']

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [27]:
my_tuple = (2,)
print(type(my_tuple))
print(len(my_tuple))

<class 'tuple'>
1

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

І кортежі і списки використовуються для зберігання об'єктів, мають індексацію, що дає доступ до конкретних елементів.

Основною відмінністю є те, що в список ми можемо вносити зміни (додавати або видаляти елементи, змінювати їхнє значення), а в кортеж після його створення вносити зміни не можна.

Відповідно обираючи один з цих типів даних треба зважати на потреби. Якщо нам треба зберігати інформацію, яка може змінюватись, наприклад, дані про користувачів, то краще обрати список. Якщо ж потреби в зміні виникнути не має, наприклад як це може бути з певними статичними даними, то кращим варіантом буде кортеж.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [31]:
tuple_1 = (1.1, 2.2, 3.3, 5.3, 4.6, 1.0, 3.5, 3.6, 10.1, 8.7, 18.1)
print(len(tuple_1))

tuple_2 = tuple_1[::-2]
print(tuple_2)

11
(18.1, 10.1, 3.5, 4.6, 3.3, 1.1)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [41]:
my_set = set()
print(type(my_set))

my_set.add(1)
my_set.add('a')
my_set.add(18.3)

print(my_set)

<class 'set'>
{1, 18.3, 'a'}

Так, множини є змінним типом даних, ми можемо додавати або видаляти елементи та виконувати інші операції.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.



*   Пункт списку
*   Пункт списку

In [42]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set_from_list = set(my_list)
print(set_from_list)

{1, 2, 67, 8, 9}

При створенні множини видаляються дублікати, щоб забезпечити унікальність елементів. В списку my_list повторюються елементи 1 та 67, тому після перетворення списку в множину залишається лише по одній копії кожного з таких елементів.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [49]:
set_1 = {1, 5, 34, 6}
set_2 = {18, 5, 14, 6}
union_set = set_1.union(set_2)
print('union_set: ', union_set)

difference_set = set_1.difference(set_2)
print('difference_set: ',difference_set)

intersection_set = set_1.intersection(set_2)
print('intersection_set: ', intersection_set)

symmetric_difference_set = set_1.symmetric_difference(set_2)
print('symmetric_difference_set: ', symmetric_difference_set)

union_set:  {1, 34, 5, 6, 14, 18}
difference_set:  {1, 34}
intersection_set:  {5, 6}
symmetric_difference_set:  {1, 34, 14, 18}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [53]:
my_dict = {}
my_dict[1] = '2'
my_dict[11.5] = '2dv'
my_dict['apple'] = 16
my_dict[False] = 6

#my_dict[[3, 11]] = 0.2

print(my_dict)

{1: '2', 11.5: '2dv', 'apple': 16, False: 6}

Якщо спробувати використати list як ключ, виникає помилка: TypeError: unhashable type: 'list'

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [60]:
dict_1 = {'one': 1,
          'two': 2,
          'three': {
              '3.0': {
                  3.1: 3.2
                  }
              },
          'four': 4}

inner_dict = dict_1['three']['3.0'][3.1]
print(inner_dict)

3.2

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.